.about {
    padding-top:5em;
    background-color: #284B63;
    display:grid;
    justify-items:center;
    grid-gap: 1em;
    padding-bottom: 5em;
    
}


.info {
    margin-top:3em;
    display:grid;
    justify-items:center;
}

.description {
    color: white;
    line-height: 3em;
    padding:3em;
    padding-top: 1em;
}

.about-head {
    color:white;
    text-align: center;
    padding-top:2em;
}

.pro-tech {
    display:grid;
    margin-top:3em;
}

.type {
    color: #afafaf;
}

.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:3em;
    padding-top: 1em;
    grid-gap: 1em;
}

.button-group {
    display:grid;
    grid-gap:1em;
}

@media (min-width:400px) {
    .button-group {
        grid-template-columns: 1fr 1fr;
        grid-gap:5em
    }

    .grid {
        width:40em
    }

    .about-head {
        padding-top: 0;
        text-align: left;
        padding-left:2em;
    }

    .description {
        width:25em;
    }

    .info {
        grid-template-columns: 1fr 1fr;
        width:40em;
        
    }

    .pro-tech {
        grid-template-columns: 40em 40em;
        
    }
}