.about {
    background-color: #284B63;
    display:grid;
    justify-items:center;
    grid-gap: 1em; 
}

.about::before {
    content:'';
    padding-top:2em;
}

.about::after {
    content:'';
    padding-bottom:4em;
}


.info {
    margin-top:3em;
    display:grid;
    justify-items:center;
}

.description {
    color: white;
    line-height: 3em;
    padding:3em;
    padding-top: 1em;
    text-align: center;
}

.about-head {
    color:white;
    text-align: center;
    padding-top:2em;
}

.pro-tech {
    display:grid;
    margin-top:3em;
    grid-gap:3em;
    padding-left:3em;
    padding-right:3em;
}

.heading {
    text-align: center;
}

.type {
    color: #afafaf;
}

.profile {
    display:flex;
    flex-direction: column;   
    grid-gap:2em; 
}

.grid-1 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.button-group {
    display:grid;
    grid-gap:2em;
    padding-bottom: 3em;
    padding-top:3em;
}




@media (min-width:650px) {
    .button-group {
        grid-template-columns: 1fr 1fr;
        grid-gap:5em
    }

    .about-head {
        padding-top: 0;
        text-align: left;
        padding-left:2em;
    }

    .description {
        width:40em;
        text-align: left;
    }

    .info {
        grid-template-columns: 1fr 1fr;
        width:50em;
        
    }

    .pro-tech {
        grid-template-columns: 1fr 1fr;
        width:50em;
        padding:0;
        
    }
    .heading {
        text-align: left;
    }
}