.grid-display{
    display:grid;
    text-align: center;
    padding-top: 20em;
    justify-items: center;
    grid-gap:28px;
}

.logo {
    display:grid;
    margin-top:2em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
grid-gap:5em;
}

.title{
    width:15em;
}
@media (min-width:400px) {
    .title {
        width:30em;
    }
}